body{
    text-align: center;
    background-color: #d1d8e0;
}
div{
    margin-top: 12%;
    margin-left: 38%;
    border: 5px solid white;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    box-shadow: rgba(165, 94, 234, 0.56) 0px 22px 70px 4px; 

}
input{
        height: 25px;
        /* border-radius: 8%; */
        border: 2px solid rgb(165, 94, 234);
        /* box-shadow: rgba(165, 94, 234, 0.56) 0px 22px 70px 4px;  */
        
    }
    button{
        height: 28px;
        width: 65px;
        color: #ffffff;
        background-color: rgb(235, 59, 90);
        /* border: 2px solid #000000; */
        border: none;
        font-size: large;

    }
    h1{
        margin-top: 33%;
        color: #a55eea;
    }
    h3{
        color: #eb3b5a;
        font-size: larger;
    }